<div class="container text-center mt-5 mb-5">
<h2>Album Collection</h2>
</div>
<div class="container">
<% @albums.each do |album| %>
    <% if album.visible? %>
        <div class="float-left p-3">
            <div class="card text-center border-secondary" style="width:245px ; height:180px">
                <div class="card-title p-2 border border-bottom-5 bor">
                    <%=link_to album.title, album_path(album)%>
                </div>
                
                <div class="card-body">
                    <%=album.description%>
                    <br/>
                    <small class="text-danger">Tags :
                        <% for tag in album.tags%>
                            <%=link_to tag.name, tag_path(tag) %>
                        <%end%>
                    </small>
                </div>
            </div>
        </div>
    <%end%>
<%end%>
</div>
